<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout :: layout(content=~{::main})}">
<body>
<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Welcome to the User & Security Management System</h5>
                    <p class="card-text">You are currently logged in. Use the sidebar to navigate through the modules you have access to.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
