<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="page">
    <header class="banner">
        <h1>LMS Management System</h1>
    </header>
    <main class="main">
        <nav class="menu-left">
            <ul>
                <li><a th:href="@{/courses/new}">Add a new Course</a></li>
                <li><a th:href="@{/courses}">Courses Management</a></li>
                <li><a th:href="@{/students}">Students Management</a></li>
            </ul>
        </nav>
        <section class="body-content">
            <div class="welcome">Students Management</div>
        </section>
    </main>
    <footer class="footer">Copyright © LMS Management System</footer>
</div>
</body>
</html>
