<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- The configuration properties will be loaded programmatically from db.properties -->
        <!-- to prevent hardcoding. Only entity mappings are defined here. -->
        <mapping class="fa.training.entities.Employee"/>
    </session-factory>
</hibernate-configuration>
