<div xmlns:th="http://www.thymeleaf.org" th:fragment="body">
    <div class="card">
        <div class="card-header" style="color: var(--danger-text);">System Error</div>
        <div class="card-body">
            <div class="alert-box alert-danger">
                <svg class="alert-icon-svg" viewBox="0 0 24 24">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
                </svg>
                <div>
                    <strong>An unexpected error occurred:</strong>
                    <p th:text="${errorMessage}" style="margin-top: 5px; font-weight: normal; font-family: monospace;">Error details here</p>
                </div>
            </div>
            <div class="btn-group">
                <a th:href="@{/}" class="btn btn-primary">Return Home</a>
            </div>
        </div>
    </div>
</div>
