<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header" class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>My LMS</strong>
        </a>
        <div class="d-flex" sec:authorize="isAuthenticated()">
            <span class="text-white me-3 align-self-center">
                Welcome, <strong sec:authentication="name"></strong> | 
                Role: <strong sec:authentication="principal.roleName"></strong>
            </span>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button class="btn btn-outline-light btn-sm" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
