<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{1} - %msg%n"/>
        </Console>
        <File name="AppFile" fileName="logs/movietheater.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="ERROR" additivity="false">
            <AppenderRef ref="AppFile"/>
        </Logger>
        <Logger name="com.zaxxer" level="ERROR" additivity="false">
            <AppenderRef ref="AppFile"/>
        </Logger>
        <Logger name="org.postgresql" level="ERROR" additivity="false">
            <AppenderRef ref="AppFile"/>
        </Logger>
        <Logger name="fa.training" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppFile"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="AppFile"/>
        </Root>
    </Loggers>
</Configuration>
